@model IEnumerable<MvcTprm.Models.TipoDeServico>

@{
    ViewBag.Title = "Tipos De Servico";
}

<h2>Index</h2>

<li>@Html.ActionLink("Dividas", "IndexDivida", "Administrador")</li>
<li>@Html.ActionLink("Tipos de Serviços", "IndexTipoDeServico", "Administrador")</li>
<li>@Html.ActionLink("Empresas", "IndexTransacao", "Administrador")</li>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome do Serviço</th>
            <th scope="col">Valor do Serviço</th>
            <th scope="col">Descrição de Serviço</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTipoDeServico", new { id = item.TipoDeServicoId }) |
                    @Html.ActionLink("Delete", "DeleteTipoDeServico", new { id = item.TipoDeServicoId })
                </td>
            </tr>
        }

</table>
