@model IEnumerable<MvcTprm.Models.Divida>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome do Cliente</th>
            <th scope="col">Valor da divida</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorDaDivida)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DividaId}) |
                    @Html.ActionLink("Details", "Details", new { id = item.DividaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DividaId })
                </td>
            </tr>
        }

    </tbody>
</table>