@model MvcTprm.Models.Transacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEmpresaContratada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEmpresaContratada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoDeServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoDeServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorDoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorDoServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusTransacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusTransacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransacaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
