@model IEnumerable<MvcTprm.Models.Transacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<li>@Html.ActionLink("Tipo de Servico", "IndexTipoDeServico", "Analista")</li>
<li>@Html.ActionLink("Transacao", "IndexTransacao", "Analista")</li>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Empresa Contratante</th>
            <th scope="col">EmpresaContratada</th>
            <th scope="col">Tipo de Serviço</th>
            <th scope="col">Valor do Serviço</th>
            <th scope="col">Descrição</th>
            <th scope="col">Status da Transacao</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.empresaContratanteID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empresaContratadaID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoDeServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valorDoServico)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusTransacao)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTransacao", new { id = item.TransacaoId }) |                    
                </td>
            </tr>
        }

    </tbody>
</table>
