@model MvcTprm.Models.Transacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.empresaContratanteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empresaContratanteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enpresaContratadaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enpresaContratadaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipoDeServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoDeServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorDoServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorDoServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusTransacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusTransacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransacaoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
